.mg-headwidget .mg-head-detail {
  background-color: #1E2A5c;
}

.navbar .container-fluid {
  background-color: #1E2A5c;
}

footer .overlay {
  background-color: #1E2A5c;
}

.elementor-widget-copyright .hfe-copyright-wrapper {
  background-color: #1E2A5c;
}

#sm-16311889994867769-1.nav-link.has-submenu {
  color: #ffffff;
}

.navbar-nav:not(.sm-collapsible) .sm-nowrap > li > .dropdown-item {
  color: #ffffff;
}

#sm-16311889994867769-3.nav-link.has-submenu {
  color: #ffffff;
}

.navbar-wp .navbar-nav > li> a.homebtn span {
  color: #ffffff;
}

#sm-16311889994867769-5.nav-link.has-submenu {
  color: #ffffff;
}

#sm-16311889994867769-7.nav-link.has-submenu {
  color: #ffffff;
}

#sm-16311889994867769-9.nav-link.has-submenu {
  color: #ffffff;
}

#sm-16311889994867769-11.nav-link.has-submenu {
  color: #ffffff;
}

.mg-headwidget .navbar-wp .navbar-nav > li > a:hover {
  color: #ffffff;
}